@font-face {
  font-family: "CalifornianFB";
  src: url("./CalifornianFB.eot");
  src: local("CalifornianFB"), url("./CalifornianFB.woff") format("woff"),
    url("./CalifornianFB.ttf") format("truetype");
}
@font-face {
  font-family: "Agency FB";
  src: url("./AgencyFB.eot");
  src: local("Agency FB"), url("./AGENCYR.TTF") format("trueType");
}
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://use.typekit.net/izn6ake.css");
@import url("https://allfont.net/allfont.css?fonts=agency-fb");
