@use "./variables" as var;
@import "./breakpoints";
.podcast-page {
  .pod-header {
    // background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    @include media("<=lgPhone") {
      background-position: 50%;
    }

    .pod-head-content {
      width: 80%;
      @include media("<=tablet") {
        width: 100%;
        text-align: center;
      }
      margin: auto;

      .row {
        align-items: center;
        height: 100%;
        [class*="col-"] {
          min-height: 55vh;
          display: flex;
          align-items: center;
          @include media("<=largeTablet") {
            min-height: auto;
          }
          // display: flex;
          // align-items: center;
          &.left-col {
            .head-text {
              // width: 90%;
              @include media("<=tablet") {
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
              @include media(">tablet", "<=largeTablet") {
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
              .title {
                font-family: "CalifornianFB";
                //   font-weight: bold;
                font-size: 3rem;
                @include media("<=lgPhone") {
                  font-size: 1.8rem;
                }
                @include media(">largeTablet", "<=desktop") {
                  font-size: 2rem;
                }
                .text-featured {
                  color: var.$color-quaternary;
                }
              }
              .sub-title {
                line-height: 1.5rem;
                color: rgb(39, 39, 39);
                display: flex;
                font-weight: bold;
                font-size: 1.2rem;
                margin-top: 10px;
                @include media("<=tablet") {
                  flex-direction: column;
                  font-size: 1rem;
                  text-align: center;
                }
                @include media(">largeTablet", "<=desktop") {
                  font-size: 1rem;
                  line-height: 1.3rem;
                }
                .key {
                  width: 160px;
                  color: var.$color-quaternary;
                  @include media("<=tablet") {
                    width: unset;
                  }
                }
              }
              .links {
                margin-top: 50px;
                .pod-title {
                  font-weight: bolder;
                  font-family: "Garamond";
                }
                .pod-links {
                  display: flex;
                  gap: 15px;
                  flex-wrap: wrap;
                  @include media("<=tablet") {
                    justify-content: center;
                  }
                  .pod-link {
                    img {
                      height: 30px;
                    }
                  }
                }
              }
            }
            @include media("<=lgPhone") {
              // order: 2;
            }
          }
          &.right-col {
            display: flex;
            justify-content: end;
            @include media("<largeTablet") {
              // order: 1;
              display: none;
            }
            .pod-cover {
              width: 390px;
              object-fit: contain;
              aspect-ratio: 1;
              @include media("<=lgPhone") {
                margin-top: 15px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .podcast-content {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    @include media("<=lgPhone") {
      width: 100%;
    }
    .podcast-list {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .podcast-single {
        // border: 1px solid var.$color-secondary;
        .podcast-episode-title {
          padding-bottom: 15px;
        }
        padding: 15px;
        border-radius: 11px;
        box-shadow: 0 0 15px 0 rgba(#23475f, 0.1);
      }
    }
    .podcast-pagination {
      margin-top: 50px;
      .pagination-list {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .pagination-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          padding: 15px;
          box-shadow: 0 0 15px 0 rgba(#23475f, 0.1);
        }
      }
    }
  }
}
