$title-xl: 30pt;
$title-lg: 25pt;
$bg-primary: #3a3d42;
$bg-secondary: #aaa;
$bg-tertiary: #ebeef3;
$bg-my-card: #fff;

$text-primary: #333333;

// $text-secondary: #d2a74d;
$text-secondary: #23475f;
// $text-secondary: #23475f;

$text-primary-hover: #0054a5;
$text-secondary-hover: #fff;

$color-secondary: #23475f;
// $color-secondary: #23475f;
// $color-secondary: #d2a74d;

$color-tertiary: #aaa;

$color-quaternary: #23475f;
$breakpoint-xs: 349.98px;
$breakpoint-sm: 575.98px;
$breakpoint-md: 767.98px;
$breakpoint-lg: 991.98px;
$breakpoint-xl: 1199.98px;

// a51d21
